@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 46;
  --background-end-rgb: 13, 17, 46;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section-pad-md section-bg-dark > widghet-hc {
	margin-top: 140px;
    padding: 10px;
}