@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 46;
  --background-end-rgb: 13, 17, 46;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar-brand {
	margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 15px;
}
.navbar-brand img {
	width: auto;
    max-width: 200px;
    display: block;
}
#menu {
	background: #000D12;
	color: #FFF;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	height: 80px;
	padding-left: 18px;
	border-radius: 0px;
	display: flex!important;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	font-family: 'Montserrat', sans-serif;
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 80px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
  transition: all 0.35s ease;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 80px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #1B1E4B;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
  text-align: left;
  list-style: none;
  line-height: 2;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	color: #46BDF4;
  transition: all 0.35s ease;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}