@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap');

body, p, #wrapper .blog-content p, #wrapper .single-faq p, #wrapper .features-box p {
    font-family: "Montserrat";
}

h1 {
    font-family: "Play";
    font-weight: 700;
}

h2 {
    font-family: "Play";
}

h4 {
    font-family: "Play";
    font-weight: 400;
}

h1 {
    font-family: Play, Arial, sans-serif
}

h1.vc_custom_heading {
    font-weight: 700
}

h2 {
    font-family: Play, Arial, sans-serif
}

h4 {
    font-family: Play, Arial, sans-serif
}

h4.vc_custom_heading {
    font-weight: regular
}

@media only screen and (max-width: 991px) {
    .site-header .navbar.is-transparent {
        position: absolute;
    }

    .admin-bar .site-header .navbar.is-transparent {
        top: 0;
    }
}

.site-header .navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 15px;
}

.has-fixed.site-header .navbar-brand img {
    width: 150px;
}

.has-fixed.site-header .navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 15px;
}

.page-banner {
    min-height: 280px;
}

h2.page-heading {
    font-size: 34px;
}

footer.footer-section {
    padding-top: 0px;
    padding-bottom: 15px;
}

.vc_custom_1670329893436 {
    margin-bottom: -100px !important;
}

.vc_custom_1668687003382 {
    background-color: #08091b !important;
}

.vc_custom_1676834123711 {
    margin-bottom: 35px !important;
}

.vc_custom_1677692511647 {
    margin-top: 25px !important;
}

.vc_custom_1663048168643 {
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-right-width: 10px !important;
    border-bottom-width: 10px !important;
    border-left-width: 10px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

.vc_custom_1658080118943 {
    margin-right: -50px !important;
    margin-left: 20px !important;
}

.vc_custom_1657646914844 {
    margin-top: -80px !important;
}

.vc_custom_1661587880603 {
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    border-right-width: 10px !important;
    padding-right: 20px !important;
}

.vc_custom_1678653341637 {
    margin-top: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 15px !important;
}

.vc_custom_1671540989151 {
    margin-top: 50px !important;
}

.vc_custom_1675350054520 {
    margin-top: 24px !important;
}

.vc_custom_1657664082682 {
    margin-top: 100px !important;
}

.vc_custom_1670331017572 {
    margin-top: 50px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1670331025721 {
    margin-top: 50px !important;
    padding-bottom: 60px !important;
}

.vc_custom_1661428861541 {
    margin-top: 50px !important;
}

.vc_custom_1661428829173 {
    margin-top: 20px !important;
}

.wp-container-1 {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

footer-section .wp-block-social-links .wp-block-social-link {
    background-color: #fff;
    color: #444;
    font-size: 20px;
}
footer-section .wp-block-social-links .wp-block-social-link:hover {
    background-color: #7a0fff;
    color: #fff;
}